.re--container {
  margin-top: 3rem;
  background-color: $ui-background;
  width: 100%;
  max-width: carbon--rem(1080px);
  margin-left: auto;
  margin-right: auto;
}

// @media (min-width: 576px) {
//   .re--container {
//     max-width: 540px;
//   }
// }
// @media (min-width: 768px) {
//   .re--container {
//     max-width: 720px;
//   }
// }
// @media (min-width: 992px) {
//   .re--container {
//     max-width: 960px;
//   }
// }
// @media (min-width: 1200px) {
//   .re--container {
//     max-width: 1140px;
//   }
// }
