$feature-flags: (
  ui-shell: true,
  grid-columns-16: true,
);

@import './carbon-style.scss';

body {
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, 'PingFang SC',
    'Noto Sans SC', 'Noto Sans CJK SC', 'Source Han Sans SC', sans-serif !important;
}
