$feature-flags: (
  ui-shell: true,
  grid-columns-16: true,
);

@import './carbon-style.scss';

body {
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial,
    source-han-sans-simplified-c, sans-serif !important;
}
