$feature-flags: (
  ui-shell: true,
  grid-columns-16: true,
);

@import './carbon-style.scss';

body {
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, 'PingFang SC',
    'DengXian', 'Microsoft YaHei UI' 'Source Han Sans SC',
    source-han-sans-simplified-c, 'Noto Sans SC', 'Noto Sans CJK SC',
    'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif !important;
}
